@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'poppins',sans-serif;
    
}
html,body{
    overflow-x: hidden;
}
/* ////////////detail header////////// */
.headermain-div{
    width: 100%;
}
.container-1{
    width: 100%;
    background-image: linear-gradient( #11998e, #38ef7d);
    min-height:750px;
    /* background-image: linear-gradient( #8ac241, #52B7AC); */
    opacity: 0.8;
}
.main-div{
    width: 100%;
}
.div1-p{
    max-height: 40px;
    text-align: center;
    padding-top: 5px;
    background-color:black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
}
.contact{
    margin-right: 10px;
}
.div1-p p:hover {
    text-decoration: underline;
    cursor: pointer;
}
.fas{
    font-size: 20px;
}
a{
    text-decoration: none;
}
.nav_list{
    list-style: none;
}
@media screen and (max-width: 576px ){
    .email{
        margin-top: 5px;

}
}

/* ///////////Main header////////// */
header{
    width: 100%;
    display: flex;
    background-color: transparent;
    justify-content: space-around;
    /* padding: 1rem 0; */
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    
}
.logo img {
    color: black;
    width: 60px;
    margin-right: 10px;
    /* margin-top: 15px; */
    
}
.header_logo{
    /* margin-top: 20px; */
    font-size: 30px;
    font-weight: 500;
    color: black;
}
.header_logo:hover{
    color: black;
    text-decoration: none;
}
.nav_list{
    display: flex;
    align-items: center;
}
.nav_items{
    margin: 20px 5px;
}
.nav_link{
    padding: 10px ;
    /* color: #eeee; */
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    border-radius: 5px;
}
.header_toggle, .header_close{
    display: none;
}
.nav_link:hover{
    text-decoration: underline;
    color: black;
}
.container-2{
    margin-top: 100px;
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.img-div > img{
    width: 350px;
    padding: 10px;
}
.div2-text{
    font-weight: 500;
    font-size: 30px;
    margin-right: 50px;
    /* margin-right: 350px; */
    width: 50%;
    /* border: 1px solid pink; */
    color: whitesmoke;
}
.div2-text button{
    background: none;
    border: none;
}
.contact-btn{
    padding: 10px;
    font-size: 20px;
}

.main-heading{
    font-weight: 800;
    font-size: 80px;
    margin-bottom: 10px;
    /* color: #6be585; */
}
@media screen and (max-width: 768px ){
    .container-2{
        display: flex;
        flex-direction: column-reverse;
    }
    .img-div > img{
        width: 300px;
        margin-bottom: 20px;
    }
    .div2-text button{
        margin-top: 10px;
    }
    
}
/* //////////////////////////// contact, feedback , about header/////////////////// */

.header {
    background-image: linear-gradient( #11998e, #38ef7d);

}
@media screen and (max-width: 768px){
    
    .main-div p{
        font-size: 11px; 
        
    }
    .main-heading{
        font-size: 50px;
    }
    .img-div img{
        width: 60%;
        margin-left: 80px;
    }
    header{
        margin-top: 10px;
        width: 100%;
        height: 48px;
        justify-content: space-between;
        padding: 0 28px;
        /* justify-content: center; */
    }
    .logo a{
        font-size: 1.2rem;
        margin-left: 5px;
    }
    .logo img{
        width: 40px;
    }
    .header_toggle{
        display: inline;
        color: #eeee;
        font: 24px;
    }
    .header_close{
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
    }
    .nav{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: cornsilk;
        color: black;
        width: 60%;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
        margin-top: 40px;
        
    }
    .nav_list{
        color: white;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
    }
    .nav_items{
        color: black;
       margin: 2rem 1rem;
    }
    .show{
        right: 0;
    }
}
/* ///////////footer ///////////////// */

.footer{
    /* border: 1px solid blue; */
    width: 100%;
    /* height: 200px; */
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.253);
}
.footer-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #243B55;
    font-size: 25px;
}

.footer-link{
    padding: 0 30px;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer-link a{
    text-decoration: none;
    color: #243B55;
    margin: 0 10px ;
}
.footer-con  i{
    color: #243B55;
    font-size: 30px;
    border: 2px solid #243B55;
    border-radius: 50%;
    padding: 8px;
}
.footer-con i:hover{
    color: white;
    background-color: #243B55;
}
.footer-con p{
    font-size: 20px;

}
.footer-link a:hover{
    color: #2a64a7;
}
.last-footer{
    background-color: royalblue;
    color: whitesmoke;
    display: flex;
    justify-content: center;
}
.last-footer a{
    color: whitesmoke;
    
}    

/* ///////////////////contact form/////////////////// */
.contact-head{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.contact-head h2{
    font-size: 60px;
    font-weight: 600;
    padding: 10px;
    /* color: pink; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(106, 196, 106);
    margin-top: 20px;
}
.contact-head h2:hover{
    transform: scale(1.1);
    cursor: pointer;

}
.contact-icon{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid blue; */
    padding-bottom: 60px;
}
.contact-icon i{
    display: flex;
    flex-wrap: wrap;
    padding:20px 60px ;
    font-size: 60px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    /* border: 1px solid green; */
}
.contact-icon i:hover{
    transform: scale(1.5)

}
.contact-icon span{
    /* border: 1px solid violet; */
    margin-left: 70px;
    font-size: 25px;
    font-weight: 500;
}

.contact-icon a:hover{
    text-decoration: none;
}
.whatsapp:hover{
    background: linear-gradient(   #11998e, #38ef7d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}
.mail:hover{
    background: linear-gradient(   #4ca1af, #c4e0e5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}
.phone:hover{
    background: linear-gradient( #ff0099, #493240);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}
.contact-us {
    padding: 70px 0px;
    background-image: linear-gradient( #11998e, #38ef7d);
    margin-bottom: 50px;
}
.section-title h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: normal;
    border-bottom: 5px solid #38ef7d;
    padding-bottom: 10px;
    display: inline-block;
}
.section-title p {
    color: #e8e8e8;
    margin-bottom: 30px;
}
.contact-us input,
.contact-us textarea {
    background: #fafafa;
    
}
.contact-us textarea {
    min-height: 188px;
    max-width: 100%;
}
.contact-us .map {
    overflow: hidden;
    border-radius: 4px;
}
@media screen and (max-width: 768px){
    .contact-head h2{
        font-size: 30px;
    }
    .contact-form{
        width: 50%;
        display: flex;
        flex-direction: column;
}
}

/* ///////////////// achievements ////////////// */
.achieve-container{
    display: flex;
    margin: 10px 10px 10px 100px ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* border: 1px solid blue; */
}
.achieve-heading h2{
    font-size: 60px;
    font-weight: 600;
    padding: 10px;
    /* color: pink; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(106, 196, 106);
    margin-top: 20px;
}

.flip-card {
    background-color: none;
    width: 300px;
    height: 300px;
    perspective: 1000px; 
    margin: 20px;
    
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
 
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    min-height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* border: 1px solid blue; */
    border-radius: 15px;

}
.flip-card-inner img{
    /* border: 1px solid blue; */
    border-radius: 15px;

}

.mainbg-con{
    min-height: 30px;
    padding:40px 170px;
    max-width: 100%;
}
.center-div{
    background-color: whitesmoke;
    width: 100%;
}
.card-qoute p{
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    /* background-image:linear-gradient(  #06beb6, #48b1bf); */
    background: linear-gradient(#11998e,#38ef7d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    /* transform: rotateY(180deg); */
    border: none;
    font-size: 1.4rem;
}
  
.flip-card-back {
    padding: 20px;
    /* background-image:linear-gradient(  #06beb6, #48b1bf); */
    background: linear-gradient(#11998e,#38ef7d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    transform: rotateY(180deg);
    border: none;
    font-size: 1.3rem;
}
.flip-card-back i{
    font-size: 50px;
    margin-bottom: 20px;
}
.logo-bg{
    /* background-image:linear-gradient(  #11998e,#38ef7d); */
    /* border: 1px solid blue; */
    border-radius: 30px;
    background-color:rgba(0, 0, 0, 0.8);;
}



/* /////////////////////// objectives ///////////////// */



.obj-con{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
    /* margin-left: 20px */
    margin-bottom: 50px;
    flex-wrap: wrap;
    padding: 0 0 0 20px;
    
}
.right-obj-con{
    margin-right:auto;
    width: 48%;
    /* height: 40%; */
    padding: 30px;
    /* background-color: #EAF2FC; */
    background-color: #122239;
    border-radius: 10px;
    /* border: 1px solid blue; */
    margin-bottom: 20px;
}
.obj-heading{
    background-color:  #38ef7d;
    display: inline-block;
    padding:  40px;
    /* color: whitesmoke; */
    font-style: italic;
    border-radius: 35px 10em 10%;
    margin-bottom: 10px;
}
.obj-heading h1{
    font-weight: 800;
    background: linear-gradient(#000000,#434343);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    font-size: 40px;
}
.obj-para{
    width: 75%;
    margin-left: auto;
}
.obj-para li{
    background: linear-gradient(#2980B9,#38ef7d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
}
.obj-para li:hover{
    cursor: pointer;
    
}
.obj-para ul li::before{
    background: linear-gradient(#11998e,#38ef7d);

}
@media screen and (max-width: 768px){
    .obj-heading{
        padding: 20px;
    }
    .obj-heading h1{
        font-weight: 800;
        font-size: 30px;
    }
    .obj-con{
        display: flex;
        flex-direction: column;
        width: 100%; 
        padding: 0 10px 0 10px;
    }
    .obj-para li{
        font-size: 20px;
    }
    .right-obj-con{
        width: 100%;
    }
    .obj-para{
        width: 100%;
    }
}
@media screen and (max-width: 576px){
    .obj-heading h1{
        padding-right: 2px;
        font-size: 10px;
        font-weight: 500;
    }
    .obj-heading {
        /* height: 10px; */
        width: 120%;
        /* padding: 10px; */
    }
}

/* ///////////////// cards /////////////////////// */

.main-cards-div{
    padding:40px 80px;
    margin-top: 50px;
}
.color-card{
    height: 200px !important;
}
.color-card h5{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 60px;
    align-items: center;
    color: whitesmoke;

}
@media screen and (max-width: 576px){
.main-cards-div{
    padding: 20px;

}
.whole-card{
    margin-bottom: 30px;

}
}


.mnv-main-con{
    width: 100%;
    padding: 0 100px;
    /* display: flex; */
    /* justify-content: center; */
    justify-content: space-around;
    margin-bottom: 30px;
}
.mnv-cen-con{
    display: flex;
    /* justify-content: space-around; */
    background-color:#E8F6F5;
    width: 100%;
    padding: 60px;
    border-radius: 10px;
}
.obj-heading{
    background-color:  #38ef7d;
    display: inline-block;
    padding:  40px;
    /* color: whitesmoke; */
    font-style: italic;
    border-radius: 35px 10em 10%;
    margin-bottom: 10px;
}
.obj-heading h1{
    font-weight: 800;
    background: linear-gradient(#000000,#434343);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    font-size: 40px;
}
.mnv-para{
    margin-top: 40px;
    margin-left: 20px;
}
.mnv-para li{
    font-size: 25px;
}
@media screen and (max-width: 768px){
    .mnv-main-con{
        padding: 0 10px 0 10px;
    }
    .mnv-cen-con{
       width: 100%;
       padding: 30px;
    }
    .mnv-heading {
        height: 150px;

        /* padding: 20px; */
    }
    .mnv-heading h1{
        padding: 10px;
        font-size: 20px;
    }
    .mnv-para li{
        font-size: 20px;
    }
}
@media screen and (max-width: 1200px){
    .mnv-main-con{
        padding: 0 20px 0 20px;
    }
    .mnv-cen-con{
       width: 100%;
       padding: 30px;
    }
    .mnv-heading {
        height: 200px;

        /* padding: 20px; */
    }
    .mnv-heading h1{
        /* padding: 30px; */
        font-size: 30px;
    }
    .mnv-para li{
        font-size: 30px;
    }
}
@media screen and (max-width: 576px){
    .mnv-main-con{
        padding: 0 10px 0 10px;
    }
    .mnv-cen-con{
        display: flex;
        flex-direction: column;
       width: 100%;
       padding: 30px;
    }
    .mnv-heading {
        height: 160px;
        width: 80%;
        /* padding: 20px; */
    }
    .mnv-heading h1{
        /* padding: 30px; */
        font-size: 25px;
    }
    .mnv-para li{
        font-size: 15px;
    }
}





/* ///////////////////////// About ////////////////////// */

.about-main-con{
    /* border: 1px solid pink; */
    min-height: 1000px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 90px;
}
.about-cen-con{
    /* border: 1px solid blue; */
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-around;
    flex-direction: row;
    padding: 30px;
    flex-wrap: wrap;
    height: 800px;
}
.about-image{
    border-right: 3px solid gray;
    width: 50%;
    padding: 0 20px;
    /* height: 70%; */
}
.about-info{
    /* border: 1px solid pink; */
    width: 50%;
    margin-top: 350px;
    padding: 0 10px;
    height: 550px;
}
.about-cen-con p{    
    font-size: 18px;

}
.about-cen-con h1 , h2{
    font-size: 40px;
}
@media screen and (max-width: 576px){
    .about-cen-con h2{
        font-size: 20px;
        font-weight: 400;
    }
    .about-cen-con{
        display: flex;
        width: 100%;
        /* margin: auto; */
        /* justify-content: space-around; */
        flex-direction: row;
        /* padding: 30px; */
        /* flex-wrap: wrap; */
        height: 900px;
        /* border-bottom:1px solid black ; */
    }
    .about-image{
        border-right: none;
        width: 100%;
        padding: 0 ;
        /* height: 70%; */
    }
    .about-info{
    border: 1px solid pink;
    width: 100%;
    margin-top: 10px;
    padding: 0;
    min-height: 700px;
    margin-bottom: 90px;

    }
    .about-info p {
        width: 100%;
        font-size: 12px;
        /* height: 300px; */
    }}
    @media screen and (max-width: 768px){
        .about-cen-con h2{
            font-size: 30px;
            font-weight: 400;
        }
        .about-cen-con{
            display: flex;
            width: 100%;
            /* margin: auto; */
            /* justify-content: space-around; */
            flex-direction: column;
            /* padding: 30px; */
            /* flex-wrap: wrap; */
            height: 900px;
            /* border-bottom:1px solid black ; */
        }
        .about-image{
            border-right: none;
            width: 50%;
            padding: 0 ;
            /* height: 70%; */
        }
        .about-info{
        border: 1px solid pink;
        width: 70%;
        margin-top: 600px;
        /* padding: 20px; */
        /* min-height: 300px; */
        margin-bottom: 90px;
    
        }
        .about-info p {
            width: 80%;
            font-size: 15px;
            /* height: 300px; */
        }
    }
/* ///////////////////////picture cards ////////////////////// */
.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }
 