@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'poppins',sans-serif;
    
}
/* ////////////detail header////////// */
.container-1{
    width: 100%;
    background-image: linear-gradient( #11998e, #38ef7d);
    min-height:600px;
    margin-bottom: 100px;
}
.main-div{
    width: 100%;
}
.div1-p{
    max-height: 40px;
    text-align: center;
    padding-top: 5px;
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
}
.contact{
    margin-right: 10px;
    /* border-right: 1px solid white; */
}
.div1-p p:hover {
    text-decoration: underline;
    cursor: pointer;
}
.fas{
    font-size: 20px;
    /* margin-top: 10px; */
}
a{
    text-decoration: none;
    /* color: black; */
}
ul{
    list-style: none;
}
/* ///////////Main header////////// */
header{
    width: 100%;
    display: flex;
    background-color: transparent;
    justify-content: space-around;
    /* padding: 1rem 0; */
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img {
    color: black;
    width: 70px;
    border-radius: 50%;
}
.header_logo{
    font-size: 30px;
    font-weight: 500;
    color: black;
}
.header_logo:hover{
    color: black;
    text-decoration: none;
}
.nav_list{
    display: flex;
    align-items: center;
}
.nav_items{
    margin: 20px 5px;
}
.nav_link{
    padding: 20px;
    /* color: #eeee; */
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
}
.header_toggle, .header_close{
    display: none;
}
.nav_link:hover{
    text-decoration: underline;
    color: black;
}
.container-2{
    margin-top: 30px;
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.img-div > img{
    width: 350px;
    padding: 10px;
}
.div2-text{
    font-weight: 500;
    font-size: 30px;
    margin-right: 50px;
    /* margin-right: 350px; */
    width: 50%;
    /* border: 1px solid pink; */
    color: whitesmoke;
}
.div2-text button{
    background: none;
    border: none;
}
.btn{
    padding: 10px;
    font-size: 20px;
}

.main-heading{
    font-size: 60px;
    margin-bottom: 10px;
    /* color: #6be585; */
}

/* //////////////////////////// contact, feedback , about header/////////////////// */

.header {
    background-color: #11998e;
}
@media screen and (max-width: 768px){
    header{
        width: 100%;
        height: 48px;
        justify-content: space-between;
        padding: 0 28px;
        /* justify-content: center; */
    }
    .logo a{
        font-size: 0.9rem;
    }
    .logo img{
        width: 30px;
    }
    .header_toggle{
        display: inline;
        color: #eeee;
        font: 24px;
    }
    .header_close{
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
    }
    .nav{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: cornsilk;
        color: black;
        width: 60%;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
        margin-top: 40px;
        
    }
    .nav_list{
        color: white;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
    }
    .nav_items{
        color: black;
       margin: 2rem 1rem;
    }
    .show{
        right: 0;

}
}

.footer{
    /* border: 1px solid blue; */
    width: 100%;
    /* height: 200px; */
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.253);
}
.footer-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #243B55;
    font-size: 25px;
}

.footer-link{
    margin: 30px 0;
}
.footer-link a{
    text-decoration: none;
    color: #243B55;
    margin: 20px 10px ;
}
.footer-con  i{
    color: #243B55;
    font-size: 30px;
    border: 2px solid #243B55;
    border-radius: 50%;
    padding: 8px;
}
.footer-con i:hover{
    color: white;
    background-color: #243B55;
}
.footer-con p{
    font-size: 20px;

}
.footer-link a:hover{
    color: #2a64a7;
}


/* ///////////////////contact form/////////////////// */
.contact-head{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.contact-head h2{
    font-size: 60px;
    padding: 10px;
    /* color: pink; */
    display: flex;
    justify-content: center;
    background: linear-gradient(#0f0f0f , #414345);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}
.contact-icon{
    display: flex;
    justify-content: center;
}
.contact-icon i{
    display: flex;
    flex-wrap: wrap;
    padding:20px 60px ;
    font-size: 60px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
}
.contact-icon i:hover{
    font-size: 80px;
    /* text-decoration: underline; */
    /* background: linear-gradient(  #4ca1af, #c4e0e5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text; */

}
.contact-icon a:hover{
    text-decoration: none;
}
.whatsapp:hover{
    background: linear-gradient(   #11998e, #38ef7d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}
.mail:hover{
    background: linear-gradient(   #4ca1af, #c4e0e5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}
.phone:hover{
    background: linear-gradient( #ff0099, #493240);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}
.contact-div{
width: 100%;
padding:  50px 250px;
/* margin-top: 10px; */
border: 1px solid black;
}
.contact-form{
    background-color: cornsilk;
    padding: 20px;
    border: 1px solid blue;
    margin: 30px;
    display: flex;
    flex-direction: row;
    min-height: 100px;
}
.contact-form input{
    display: flex;
    flex-direction: column;
    padding:15px 30px;
    margin-bottom: 20px;
    border-top: none;
    border-left: none;
    border-right: none;   
}
.form-input{
    width: 130%;
}
#message{
    padding: 20px 60px 40px 10px;
}