@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'poppins',sans-serif;
    
}
html,body{
    overflow-x: hidden;
}
/* ////////////detail header////////// */
.headermain-div{
    width: 100%;
}
.container-1{
    width: 100%;
    background-image: linear-gradient( #11998e, #38ef7d);
    min-height:750px;
    /* background-image: linear-gradient( #8ac241, #52B7AC); */
    opacity: 0.8;
}
.main-div{
    width: 100%;
}
.div1-p{
    max-height: 40px;
    text-align: center;
    padding-top: 5px;
    background-color:black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
}
.contact{
    margin-right: 10px;
}
.div1-p p:hover {
    text-decoration: underline;
    cursor: pointer;
}
.fas{
    font-size: 20px;
}
a{
    text-decoration: none;
}
.nav_list{
    list-style: none;
}
@media screen and (max-width: 576px ){
    .email{
        margin-top: 5px;

}
}

/* ///////////Main header////////// */
header{
    width: 100%;
    display: flex;
    background-color: transparent;
    justify-content: space-around;
    /* padding: 1rem 0; */
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    
}
.logo img {
    color: black;
    width: 60px;
    margin-right: 10px;
    /* margin-top: 15px; */
    
}
.header_logo{
    /* margin-top: 20px; */
    font-size: 30px;
    font-weight: 500;
    color: black;
}
.header_logo:hover{
    color: black;
    text-decoration: none;
}
.nav_list{
    display: flex;
    align-items: center;
}
.nav_items{
    margin: 20px 5px;
}
.nav_link{
    padding: 10px ;
    /* color: #eeee; */
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    border-radius: 5px;
}
.header_toggle, .header_close{
    display: none;
}
.nav_link:hover{
    text-decoration: underline;
    color: black;
}
.container-2{
    margin-top: 100px;
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.img-div > img{
    width: 350px;
    padding: 10px;
}
.div2-text{
    font-weight: 500;
    font-size: 30px;
    margin-right: 50px;
    /* margin-right: 350px; */
    width: 50%;
    /* border: 1px solid pink; */
    color: whitesmoke;
}
.div2-text button{
    background: none;
    border: none;
}
.contact-btn{
    padding: 10px;
    font-size: 20px;
}

.main-heading{
    font-weight: 800;
    font-size: 80px;
    margin-bottom: 10px;
    /* color: #6be585; */
}
@media screen and (max-width: 768px ){
    .container-2{
        display: flex;
        flex-direction: column-reverse;
    }
    .img-div > img{
        width: 300px;
        margin-bottom: 20px;
    }
    .div2-text button{
        margin-top: 10px;
    }
    
}
/* //////////////////////////// contact, feedback , about header/////////////////// */

.header {
    background-image: linear-gradient( #11998e, #38ef7d);

}
@media screen and (max-width: 768px){
    
    .main-div p{
        font-size: 11px; 
        
    }
    .main-heading{
        font-size: 50px;
    }
    .img-div img{
        width: 60%;
        margin-left: 80px;
    }
    header{
        margin-top: 10px;
        width: 100%;
        height: 48px;
        justify-content: space-between;
        padding: 0 28px;
        /* justify-content: center; */
    }
    .logo a{
        font-size: 1.2rem;
        margin-left: 5px;
    }
    .logo img{
        width: 40px;
    }
    .header_toggle{
        display: inline;
        color: #eeee;
        font: 24px;
    }
    .header_close{
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
    }
    .nav{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: cornsilk;
        color: black;
        width: 60%;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
        margin-top: 40px;
        
    }
    .nav_list{
        color: white;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
    }
    .nav_items{
        color: black;
       margin: 2rem 1rem;
    }
    .show{
        right: 0;
    }
}
/* ///////////footer ///////////////// */

.footer{
    /* border: 1px solid blue; */
    width: 100%;
    /* height: 200px; */
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.253);
}
.footer-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #243B55;
    font-size: 25px;
}

.footer-link{
    padding: 0 30px;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer-link a{
    text-decoration: none;
    color: #243B55;
    margin: 0 10px ;
}
.footer-con  i{
    color: #243B55;
    font-size: 30px;
    border: 2px solid #243B55;
    border-radius: 50%;
    padding: 8px;
}
.footer-con i:hover{
    color: white;
    background-color: #243B55;
}
.footer-con p{
    font-size: 20px;

}
.footer-link a:hover{
    color: #2a64a7;
}
.last-footer{
    background-color: royalblue;
    color: whitesmoke;
    display: flex;
    justify-content: center;
}
.last-footer a{
    color: whitesmoke;
    
}    

/* ///////////////////contact form/////////////////// */
.contact-head{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.contact-head h2{
    font-size: 60px;
    font-weight: 600;
    padding: 10px;
    /* color: pink; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(106, 196, 106);
    margin-top: 20px;
}
.contact-head h2:hover{
    transform: scale(1.1);
    cursor: pointer;

}
.contact-icon{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid blue; */
    padding-bottom: 60px;
}
.contact-icon i{
    display: flex;
    flex-wrap: wrap;
    padding:20px 60px ;
    font-size: 60px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    /* border: 1px solid green; */
}
.contact-icon i:hover{
    transform: scale(1.5)

}
.contact-icon span{
    /* border: 1px solid violet; */
    margin-left: 70px;
    font-size: 25px;
    font-weight: 500;
}

.contact-icon a:hover{
    text-decoration: none;
}
.whatsapp:hover{
    background: linear-gradient(   #11998e, #38ef7d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}
.mail:hover{
    background: linear-gradient(   #4ca1af, #c4e0e5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}
.phone:hover{
    background: linear-gradient( #ff0099, #493240);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}
.contact-us {
    padding: 70px 0px;
    background-image: linear-gradient( #11998e, #38ef7d);
    margin-bottom: 50px;
}
.section-title h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: normal;
    border-bottom: 5px solid #38ef7d;
    padding-bottom: 10px;
    display: inline-block;
}
.section-title p {
    color: #e8e8e8;
    margin-bottom: 30px;
}
.contact-us input,
.contact-us textarea {
    background: #fafafa;
    
}
.contact-us textarea {
    min-height: 188px;
    max-width: 100%;
}
.contact-us .map {
    overflow: hidden;
    border-radius: 4px;
}
@media screen and (max-width: 768px){
    .contact-head h2{
        font-size: 30px;
    }
    .contact-form{
        width: 50%;
        display: flex;
        flex-direction: column;
}
}

/* ///////////////// achievements ////////////// */
.achieve-container{
    display: flex;
    margin: 10px 10px 10px 100px ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* border: 1px solid blue; */
}
.achieve-heading img{
    margin:50px auto;
    width: 40%;
    /* font-size: 60px; */
    font-weight: 600;
    padding: 10px;
    /* color: pink; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(106, 196, 106);
    
}
.achieve-heading h2:hover{
    transform: scale(1.1);
    cursor: pointer;
    
}
.scene {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    perspective: 800px;
    flex-wrap:wrap ;
  }
  .scene .card {
    position: relative;
    width: 240px;
    height: 300px;
    color: white;
    cursor: pointer;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
    margin-bottom: 20px;
  }
  .scene .card:hover {
    transform: rotateY(0.5turn);
  }
  .scene .card .card__face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transition: 1s ease-in-out;
    -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
  }
  .scene .card .card__face img {
    width: 240px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .scene .card .card__face--back {
    transform: rotateY(0.5turn);
  }
.main-flip-body{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@media screen and (max-width: 425px){
    .achieve-heading h2{
        font-size: 20px;
    }
    .scene .card{
        margin-left: 50px;
    }
}
.award-icon{
    width: 10%;
    margin: auto;
    font-size: 170px;
    background: linear-gradient(#11998e, #38ef7d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}


/* /////////////////////// objectives ///////////////// */



.obj-con{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
    /* margin-left: 20px */
    margin-bottom: 50px;
    flex-wrap: wrap;
    padding: 0 0 0 20px;
    
}
.right-obj-con{
    margin-right:auto;
    width: 48%;
    /* height: 40%; */
    padding: 30px;
    /* background-color: #EAF2FC; */
    background-color: #122239;
    border-radius: 10px;
    /* border: 1px solid blue; */
    margin-bottom: 20px;
}
.obj-heading{
    background-color:  #38ef7d;
    display: inline-block;
    padding:  40px;
    /* color: whitesmoke; */
    font-style: italic;
    border-radius: 35px 10em 10%;
    margin-bottom: 10px;
}
.obj-heading h1{
    font-weight: 800;
    background: linear-gradient(#000000,#434343);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    font-size: 40px;
}
.obj-para{
    width: 75%;
    margin-left: auto;
}
.obj-para li{
    background: linear-gradient(#2980B9,#38ef7d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
}
.obj-para li:hover{
    cursor: pointer;
    
}
.obj-para ul li::before{
    background: linear-gradient(#11998e,#38ef7d);

}
@media screen and (max-width: 768px){
    .obj-heading{
        padding: 20px;
    }
    .obj-heading h1{
        font-weight: 800;
        font-size: 30px;
    }
    .obj-con{
        display: flex;
        flex-direction: column;
        width: 100%; 
        padding: 0 10px 0 10px;
    }
    .obj-para li{
        font-size: 20px;
    }
    .right-obj-con{
        width: 100%;
    }
    .obj-para{
        width: 100%;
    }
}
@media screen and (max-width: 576px){
    .obj-heading h1{
        padding-right: 2px;
        font-size: 10px;
        font-weight: 500;
    }
    .obj-heading {
        /* height: 10px; */
        width: 120%;
        /* padding: 10px; */
    }
}

.mnv-main-con{
    width: 100%;
    padding: 0 100px;
    /* display: flex; */
    /* justify-content: center; */
    justify-content: space-around;
    margin-bottom: 30px;
}
.mnv-cen-con{
    display: flex;
    /* justify-content: space-around; */
    background-color:#E8F6F5;
    width: 100%;
    padding: 60px;
    border-radius: 10px;
}
.obj-heading{
    background-color:  #38ef7d;
    display: inline-block;
    padding:  40px;
    /* color: whitesmoke; */
    font-style: italic;
    border-radius: 35px 10em 10%;
    margin-bottom: 10px;
}
.obj-heading h1{
    font-weight: 800;
    background: linear-gradient(#000000,#434343);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    font-size: 40px;
}
.mnv-para{
    margin-top: 40px;
    margin-left: 20px;
}
.mnv-para li{
    font-size: 25px;
}
@media screen and (max-width: 768px){
    .mnv-main-con{
        padding: 0 10px 0 10px;
    }
    .mnv-cen-con{
       width: 100%;
       padding: 30px;
    }
    .mnv-heading {
        height: 150px;

        /* padding: 20px; */
    }
    .mnv-heading h1{
        padding: 10px;
        font-size: 20px;
    }
    .mnv-para li{
        font-size: 20px;
    }
}
@media screen and (max-width: 1200px){
    .mnv-main-con{
        padding: 0 20px 0 20px;
    }
    .mnv-cen-con{
       width: 100%;
       padding: 30px;
    }
    .mnv-heading {
        height: 200px;

        /* padding: 20px; */
    }
    .mnv-heading h1{
        /* padding: 30px; */
        font-size: 30px;
    }
    .mnv-para li{
        font-size: 30px;
    }
}
@media screen and (max-width: 576px){
    .mnv-main-con{
        padding: 0 10px 0 10px;
    }
    .mnv-cen-con{
        display: flex;
        flex-direction: column;
       width: 100%;
       padding: 30px;
    }
    .mnv-heading {
        height: 160px;
        width: 80%;
        /* padding: 20px; */
    }
    .mnv-heading h1{
        /* padding: 30px; */
        font-size: 25px;
    }
    .mnv-para li{
        font-size: 15px;
    }
}





/* ///////////////////////// About ////////////////////// */

.about-main-con{
    /* border: 1px solid pink; */
    height: 1000px;
    width: 100%;
    margin-top: 50px;
    /* margin-bottom: 90px; */
}
.about-cen-con{
    /* border: 1px solid blue; */
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-around;
    flex-direction: row;
    padding: 30px;
    flex-wrap: wrap;
    height: 800px;
}
.about-image{
    border-right: 3px solid gray;
    width: 50%;
    padding:10px;
    /* height: 70%; */
}
.about-info{
    margin-right:auto;
    margin-top: 30%;
    width: 48%;
    height: 40%;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.about-cen-con p{    
    font-size: 25px;

}
.about-cen-con h1 , h2{
    font-size: 50px;
}

     @media screen and (max-width: 1024px){
        .about-info{
            padding: 0 0 0 10px;    
            border: 1px solid pink;
            width: 50%;
            margin-top: 300px;
            min-height: 500px;
            /* margin-bottom: 90px; */
     }
     .about-info p {
        width: 100%;
        font-size: 15px;
    }
    }
    @media screen and (max-width: 768px){
        .about-cen-con h2{
            font-size: 30px;
            font-weight: 400;
        }
        .about-cen-con{
            display: flex;
            width: 100%;
            flex-direction: column;
            height: 900px;
        }
        .about-image{
            width: 50%;
            height: 700px;
        }
        .about-info{
        padding: 0 0 0 10px;    
        border: 1px solid pink;
        width: 100%;
        margin-top: 400px;
        min-height: 500px;
        margin-bottom: 90px;
    
        }
        .about-info p {
            width: 50%;
            font-size: 15px;
        }
    }

    @media screen and (max-width: 425px){
    .about-cen-con{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .about-image{
        border-right: none;
        width: 100%;
        height: 450px;
    }
    .about-info{
        padding: 0 0 0 10px;    
        border: 1px solid pink;
        width: 100%;
        margin-top: 20px;
        min-height: 500px;
        margin-bottom: 0;
    }
    .about-info p {
        width: 100%;
        font-size: 15px;
    }
}

/* ///////////////////////////// cards /////////////////////// */
/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.main{
  max-width: 1200px;
  margin: 70px auto;
}
img {
  /* height: auto; */
  max-width: 100%;
  vertical-align: middle;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  /* background-color: white; */
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
    height: 150px;
    padding: 4rem 6rem; 
    background: linear-gradient(to bottom left, #11998e  40%, #38ef7d 100%);
}
.card_content h2{
    padding: 0;
    font-size: 30px;
}

.card_title{
    align-items: center;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  /* margin: 0px; */
} 
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}
.qoute{
    text-align: center;
    background: linear-gradient(#11998e,#38ef7d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    font-size: 30px;
    font-weight: 600;
    padding: 20px 20px 0 20px;
}
.nation{
    text-align: center;
    background: linear-gradient(#11998e,#38ef7d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    font-size: 17px;
    font-weight: 600;
    padding: 10px;
}
.main h3{
    
    font-size: 60px;
    font-weight: 600;
    padding: 10px;
    /* color: pink; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(#11998e,#38ef7d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    margin-top: 20px;
}
.main h3:hover{
    transform: scale(1.1);
    cursor: pointer;
    
}

/* //////////////////// backgound-image with text///////////////////// */
  .bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0, 0, 0, 0.527)), url("./images/banner\ image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 450px;
    padding-top: 50px;
    margin-bottom: 50px;
}
.bg-no-overlay {
    background: url("./images/banner\ image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 450px;
    padding-top: 50px;
}
.about-ban-text {
    color: whitesmoke;
    /* text-align: c; */
    width: 60%;
    margin: auto;
    line-height: 40%;
}